@model List<User>
 <div class="cont_my2">
<h2>News</h2>
@{
    int count = 0;
}
@foreach (var user in Model)
{
    <div class="news-item @(count % 2 == 0 ? "" : "news-item-odd")">
        <p>@user.DateTime.ToString("HH:mm") @user.DateTime.ToString("dd.MM.yyyy") @user.Name has already eaten asparagus @user.CountEat times</p>
    </div>
    count++;
}
 </div>

